/**************************
Step 7 Vlož hodnoty pro body tag.
**************************/

/* 
body {

}
 */

/**************************
Step 8 Nastav šířku a okraj(margin) pro .container selector 
**************************/

/* 
.container {

}
 */

/**************************
Step 9 Nastav font-size a text-align pro nav element 
**************************/

/* 
nav {

}
 */

/**************************
Step 10 Změň velikost obrázkům
**************************/

/* 
img {
  width:
  height:
  border-radius:
}
 */

/**************************
Step 11 Nastav každému písmenu jinou barvu
**************************/

/* 
.green {
  color:
}

.red {
  color:
}

.blue {
  color:
}
 */

/************************** 
Step 11 Změn barvu pozadí (background-color) následujícím třídám
.mission
.about-us
.team
.contact
sections
**************************/

/* 
.mission {
  background-color:
  color: 
  text-align:
}

.about-us {
  background-color:
}

.team {
  background-color:
  color:
}

.contact {
  background-color:
  color:
}
 */

/************************** 
Step 12 Nastav "vatu" (padding) pro section element = přepiš "X"
**************************/

/* 
section {
  padding: Xrem Xrem Xrem Xrem;
}
 */

/**************************
Step  13 Uprav hlavní banner
**************************/

/* 
.banner {
  height:
  background: url('') center/cover no-repeat;
}
 */


/**************************
Step 14 Vybíráme podle id elementu
**************************/

/* 
#myList {
  list-style: none;
}
 */

/************************** 
Step 16 Hrajeme si s položkami seznamu
**************************/

/* 
li.item{
  padding:
}

.bsa, .sea {
  color:
}

.venturing {
  color:
}
 */

/**************************
Step 17 Nastav speciální stav pro :hover (přejetí myší) pro <a> tag v <nav> baru
**************************/

/* 
nav a:hover {
  color: 
  font-weight:
}
 */
























/**************************
Original set up 
**************************/

nav a {
  color: black;
  display: inline;
  padding: 0 1rem;
  line-height: 3rem;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 900;
}

h1, h2 {
  font-size: 3rem;
}

h3 {
  margin-bottom: 0;
}

p {
  margin: 0;
  line-height: 150%;
}

.person {
  margin-bottom: 4rem;
  text-align: center;
}

.contact-part {
  margin-bottom: 1rem;
}

.banner h1 {
  width: 18rem;
  padding-bottom: 1rem;
  border-bottom: 4px solid white;
  color: white; 
}